:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  color-scheme: light dark;
  color: rgba(12, 12, 12, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html  {
  width: 400px;
  margin: 0 auto;
  overflow-x: hidden;
}

.containerEtapa{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.containerBox{
  width: 100%;
  display: flex;
  flex-wrap: wrap;  
}

.optionHeight{
  height: 90px !important;
}

.optionHeight140{
  height: 120px !important;
}

.optionHeight p{
  text-align: center;
}

.text-center{
  text-align: center;
}

.emoji{
  width: 75px !important;
}

.emojiside{
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-size: cover;
  width: 50px !important;
}

.d-flex{
  display: flex;
}

.content-spaced{
  justify-content: space-around;
}

.w-50{
  width: 50%;
}

.squareButton{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(230, 230, 230);
  border-radius: 8px;
  height: 180px;
  margin: 5px;
  width: 47%;
  box-sizing: border-box;
  border: 1px solid #ddd;
}

.squareButton:hover{
  cursor: pointer;
  color: white;
  background-color: rgb(0, 55, 87);
  transition: 0.3s ease-in-out;
}

.squareButton img{
  width: 130px;
}

.squareButton h3{
  font-size: 14px;
  text-align: center;
}

.retangleButton{
  background-color: rgb(230, 230, 230);
  border-radius: 8px;
  height: 70px;
  margin: 5px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
}

.retangleButton:hover{
  cursor: pointer;
  color: white;
  background-color: rgb(0, 55, 87);
  transition: 0.3s ease-in-out;
}

.retangleButton p{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  margin-top: 22px;
  margin-left: 15px;
  margin-right: 12px;
}

.grafico{
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 60px 20px 20px 20px;
  margin-top: 10px;
  margin-left: 3px;
}

.left{
  margin-left: 5px;
}

.texto-grafico0{
  font-size: 10px;
  background-color: black;
  color: white;
  padding: 6px;
  border-radius: 15px 15px 15px 15px;
  position: absolute;
  z-index: 9999;
  top: 56%;
  left: 14%;
  transform: translate(-50%, -50%);
}

.texto-grafico01 {
  background-color: black;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 63%;
  left: 11%;
  transform: rotate(45deg) translate(-50%, -50%);
}


.texto-grafico1{
  position: absolute;
  font-size: 10px;
  background-color: black;
  color: white;
  padding: 6px;
  border-radius: 15px 15px 0px 15px;
  position: absolute;
  top: 52%;
  left: 32%;
  transform: translate(-50%, -50%);
}

.texto-grafico2{
  position: absolute;
  font-size: 10px;
  background-color: black;
  color: white;
  padding: 6px;
  border-radius: 15px 15px 0px 15px;
  position: absolute;
  top: 38%;
  left: 56%;
  transform: translate(-50%, -50%);
}

.texto-grafico3{
  position: absolute;
  font-size: 10px;
  background-color: black;
  color: white;
  padding: 4px;
  border-radius: 15px 15px 0px 15px;
  position: absolute;
  width: 58px;
  top: 20%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.title{
  background-color: #EAFCFF;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.title h3{
  font-size: 14px;
}

.title p{
  font-size: 12px;
}

.btn{
  background-color: #2B8BFF;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
}

.btn:hover{
  cursor: pointer;
  background-color: #0070f8;
  transition: 0.4s;
}


.resultados{
  border: 1px solid black;
}

.resultados-titulo{
  display: flex;
  width: 400px;
}

.antes{
  width: 50%;
}

.depois{
  width: 50%;
}

.resultados-imagem{
  height: 30vh;
}