:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  color-scheme: light dark;
  color: rgba(12, 12, 12, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html  {
  width: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.containerEtapa{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.containerBox{
  width: 100%;
  display: flex;
  flex-wrap: wrap;  
}

.optionHeight{
  height: 90px !important;
}

.optionHeight p{
  text-align: center;
}

.text-center{
  text-align: center;
}

.emoji{
  width: 75px !important;
}

.squareButton{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(230, 230, 230);
  border-radius: 8px;
  height: 180px;
  margin: 5px;
  width: 47%;
  box-sizing: border-box;
  border: 1px solid #ddd;
}

.squareButton:hover{
  cursor: pointer;
  color: white;
  background-color: rgb(0, 55, 87);
  transition: 0.3s ease-in-out;
}

.squareButton img{
  width: 130px;
}

.squareButton h3{
  font-size: 14px;
  text-align: center;
}

.retangleButton{
  background-color: rgb(230, 230, 230);
  border-radius: 8px;
  height: 70px;
  margin: 5px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
}

.retangleButton:hover{
  cursor: pointer;
  color: white;
  background-color: rgb(0, 55, 87);
  transition: 0.3s ease-in-out;
}

.retangleButton p{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 15px;
}
